body {
}


.brand_logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
    top: -33px;
    padding: 10px;
    background: #fff;
}

.user_card {
    margin: 90px auto;
    background-color: darkcyan;
    width: 400px;
    height: 300px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.brand_logodesign {
    text-align: center;
}
.input-group.mb-3 {
   
    text-align: center;
    margin-left: 38px;
}
.input-group.mb-2 {
    
    margin-bottom: 20px;
    margin-left: 38px;
}

.form-group.mb-1 {
    text-align: center;
    margin-bottom: 20px;
}


