
@{
    ViewBag.Title = "ChangePassWord";
    Layout = "~/Areas/DashboardPages/Views/Shared/__DashBoardLayout.cshtml";
}



@using (Html.BeginForm())
{
    <h2>ChangePassWord</h2>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    @Html.TextBox("Owner_Email", Session["Owner_Email"], new { @class = "form-control", @id = "Owner_Email" })
                </div>
                <div class="col-sm-4"></div>
            </div>
            <input type="submit" id="btnSend" name="btnSend" value="SendMail" />
        </div>
    </div>
}

