
@{
    ViewBag.Title = "NewPassword";
    Layout = "~/Areas/DashboardPages/Views/Shared/__DashBoardLayout.cshtml";
}

<h2>NewPassword</h2>
@using (Html.BeginForm())
{
    <h2>PasswordChange</h2>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3">
                    @Html.TextBox("Owner_Email", Session["Owner_Email"], new { @class = "form-control", @id = "Owner_Email" })
                </div>
                <div class="col-sm-3">
                    <input type="text" id="Password" name="Password" />
                </div>
                <div class="col-sm-3">
                    <input type="text" id="ConfirmPassword" name="ConfirmPassword" />
                </div>
                <div class="col-sm-3"></div>
            </div>
            <input type="submit" id="btnChange" name="btnChange" value="Change" />
        </div>
    </div>
}
